{% extends "base.html" %}
<html>
<head>
  <title>{%block title%}Mentors{%endblock%}</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<style type="text/css">
 img{box-shadow: 10px 10px 5px #888888;}
  body{background-color:#bdbdbd;
	background-size: cover;
	z-index: 0;
	background-repeat:no-repeat;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  </style>
  </head>
  <body>
   {%block body%}
<div class="container">
  <div class=" fade-in one">
   <h1 style="font-family: 'Roboto', sans-serif; color:#000;" align="center" >Mentors</h1>
  </div>
  <div class=" fade-in two">
   <h5 style="font-family: 'Roboto', sans-serif; color:#000;" align="center" >Everyone needs a person, a friend who guides them to perform a task and for overall development. Here we provide you all with well known people who will guide you and will also encourage positive behaviour in you.</h5>
  </div><br><br>
    <div class=" fade-in three">
 <div class="card-panel white">
 <div class="row">
      <div class="col s4"><img src="/media/org/bhumi.png" class="responsive-img"></div>
      <div class="col s8"><h4 id="id_name" align="center" style="color:#000000;">BHUMI<br>
	  <span style="font-size: 19px; font-weight:lighter;">Volunteer…educate…inspire</span><br>
<span style="font-size: 19px; font-weight:light; white-space: normal;" align="left">Bhumi is one of the largest independent and youth volunteer non-profitable organisations of India. The organisation provides a platform to socially-conscious students and young professionals to serve society and aims to bridge the gap between the learned & the unlearned through education.
It is one of India’s largest youth volunteering organizations. It has won the ‘Leader in Volunteer Engagement’ Award at the iVolunteer Awards 2014.
Bhumi organisation is full of ideation which is best reflected in the events they organises like<ul>

<li>1.	Bhumi Corporate League- Play for cause, Chennai</li>
<li>2.	City City Hunt Hunt-Treasure Hunt, Chennai</li>
<li>3.	Daan Utsav- Bhumi volunteer drive: Do selfish</li>
<li>4.	Nakshatra- Inter children’s home talent fest.</li>
</ul>
The organisation operates from Chennai and has its chapters spread across 15 different states.</span></p>

	  </div>
  </div>
  </div><br>
<div class="card-panel white">
 <div class="row">
      <div class="col s8"><h4 id="id_name" align="center" style="color:#000000;">Teach For India<br>
	  <br><span style="font-size: 19px; font-weight:light;">
Teach For India, a project of Teach To Lead, is a nationwide movement of outstanding college graduates and young professionals who commit two-years to teach full-time in under resourced schools and who become lifelong leaders working within various sectors in pursuit of education equality.

We believe that every child can and must have access to an excellent education. In order to achieve this, we need leaders across all sectors that are committed to, and are willing to work towards, ending educational inequality in our country.

Teach For India works in 7 cities - Mumbai, Pune, Delhi, Hyderabad, Chennai, Ahmedabad and Bengaluru and has a total of approximately 1200 Fellows and 1100 Alumni working towards the elimination of educational inequality.
</span></p>
	  </div>

      <div class="col s4"><img src="/media/org/teach.png" style="width:100%; height:auto"></div>
  </div>
  </div><br>
   <div class="card-panel white">
   <div class="row">
      <div class="col s4" style="padding-top: 4%;"><img src="/media/org/dehat.png" style="width:100%; height:auto;"></div>
      <div class="col s8"><h4 id="id_name" align="center" style="color:#000000;">DEHAT<br>
	  <span style="font-size: 19px; font-weight:lighter;">Because every child matters</span><br>
<span style="font-size: 19px; font-weight:light;">Developmental Association for Human Advancement (DEHAT) started with a belief that no society can hope for sustainable development unless its children are assured of their survival, protection and participation in the process of development.
DEHAT has developed various rights-based key initiatives meant to ensure the realization of the following rights in a sustainable manner starting from 
right to survival, 
right to participation, 
right to development and right to protection
Apart from this, their initiatives range from education 
(Swadhayaya Initiative-Educating Rural Girl Champs) to health (“BravoGirls!” initiative).
Their intense interventions cover 773 villages, primarily in the 8 border districts of Indo-Nepal region (Through direct & partner NGOs). These districts are among India’s 100 and Uttar Pradesh’s 35 most backward districts. In 2010, DEHAT was one of four non-governmental organizations in the country to be recognized and honoured with the Award (NGO of the year) at a function organized on the 5th of August, 2011 at the India Habitat Centre, New Delhi.
</span></p>

	  </div>
  </div>
  </div><br>
<div class="card-panel white">
 <div class="row">
      <div class="col s8"><h4 id="id_name" align="center" style="color:#000000;">Vision India Foundation<br>
	  <br><span style="font-size: 19px; font-weight:light;">

Vision India Foundation (VIF) is a non-profitable initiative by alumni and faculty members of various IITs. VIF is a platform which offers the brightest youth of the country, avenues to participate in the modern nation building movement. They believe that politics, bureaucracy, entrepreneurship and academics are the sectors that need the brightest talent of the country. They identify, engage and mentor youth in these fields.
This is a unique organisation that uses technology for initiatives peculiar to public policies and governance, their initiatives include Samvaad, Policy Boot Camp, Good Governance Yatra and Policy Analysis and Evaluation Workshop.

</span></p>
	  </div>

      <div class="col s4"><img src="/media/org/vision.png" style="width:100%; height:auto"></div>
  </div>
  </div><br>
   <div class="card-panel white">
   <div class="row">
      <div class="col s4" style="padding-top: 4%;"><img src="/media/org/agewell.png" style="width:100%; height:auto;"></div>
      <div class="col s8"><h4 id="id_name" align="center" style="color:#000000;">Agewell  Foundation<br>
	  <span style="font-size: 19px; font-weight:lighter;">Self-respect in old age</span><br>
<span style="font-size: 19px; font-weight:light;">
Agewell Foundation, India is a not-for-profit NGO which has been working for the welfare and empowerment of elderly people since 1999. Agewell has set up a two-tier network of over 7500 primary and 80000 secondary volunteers spread across 640 districts of India and interacts with over 25000 older persons on daily basis through its volunteer network.
Agewell foundation is been collaborated with some international organisations like <ol>
</li>• Global Action on Ageing (GAA), USA</li><br>
</li>• AARP (American Association of Retired People), USA</li><br>
</li>• Seniors Together in South Lanarkshire (formerly known as Better Government for older People – BGOP) UK </li>
</ol>
Agewell has schemes that even involve CSR in their initiatives. Campaigns and the initiatives taken by Agewell Foundation are unique in their area of work like:
Police Personnel Sensitization & Training towards elderly people.
“Share the warmth” campaign during winters. (Around 5, 00,000 destitute and old people across Delhi & NCR are benefited so far).
Free health campaign for destitute elderly.
Agewell monitoring and evaluation centre.

</span></p>

	  </div>
  </div>
  </div><br>
</div>
{%endblock%}
</body>
</html>
