<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>LEAP | Help</title>
</head>

<body>
<div class="slider" align = "center">
    <ul class="slides">
      <li>
        <img src="/media/help/1.png">

      </li>
      <li>
        <img src="/media/help/2.png">

      </li>
      <li>
        <img src="/media/help/3.png">

      </li>
      <li>
        <img src="/media/help/4.png">

      </li>
	  
	  <li>
        <img src="/media/help/6.png">

      </li>
	  <li>
        <img src="/media/help/7.png">
      </li>
    </ul>
  </div>
<script>
 $(document).ready(function(){
      $('.slider').slider({full_width: true});
    });
</script>
</body>
</html>
