{% load staticfiles %}
{% load material_form %}
<html>
<head>
  <title>Queries</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link type="text/css" rel="stylesheet" href={% static 'css/materialize.min.css'%}  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href={% static 'css/style.css'%} >
<link rel="icon" href="/media/fav.png" type="image/png">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<style type="text/css">
  body{background-color:#eee;}
.input-field label{color:#000000;}
textarea.materialize-textarea:focus:not([readonly]){border-bottom: 1px solid #0d47a1;
     box-shadow: 0 1px 0 0 #0d47a1;}
textarea.materialize-textarea:focus:not([readonly])+label{color:#0d47a1;}
textarea.materialize-textarea {
    border-width: medium medium 1px;
    border-style: none none solid;
    border-color: -moz-use-text-color
-moz-use-text-color #000000;}
  </style>
  </head>
  <body>
    <ul id="dropdown2" class="dropdown-content">
  <li><a href="/queries/" style="color:#000; background-color: #fff;">All Queries</a></li>
  <li class="divider"></li>
  <li><a href="/myqueries/" style="color:#000; background-color: #fff;">My Queries</a></li>
  <li class="divider"></li>
  <li><a href="/search/" style="color:#000; background-color: #fff;">Search</a></li>
  </ul>
  <ul id="dropdown1" class="dropdown-content">
  <li><a href="/queries/" style="color:#000; background-color: #fff;">All Queries</a></li>
  <li class="divider"></li>
  <li><a href="/myqueries/" style="color:#000; background-color: #fff;">My Queries</a></li>
  <li class="divider"></li>
  <li><a href="/search/" style="color:#000; background-color: #fff;">Search</a></li>
  </ul>
 <nav class = "blue darken-4">
<div class="nav-wrapper">
<a href="#" class="brand-logo" style="padding-left:10%; font-size:44px;"><img src="/media/logo.png" class="responsive-img"></a>
<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
  <ul id="nav-mobile" class="right hide-on-med-and-down" style="padding-right:14%;">
    <li><a href="/home/" style="font-size:17px;">Home</a></li>
    <li><a class='dropdown-button tt' href='#' data-activates='dropdown2' style="font-size:17px;">Queries<i class="material-icons right">arrow_drop_down</i></a></li>
    <li><a href="/profile/{{request.user.username}}" style="font-size:17px;">Profile</a></li>
    <li><a href="/community/" style="font-size:17px;">Community</a></li>
    <li><a href="/mentors/" style="font-size:17px;">Mentors</a></li>
<li><a href="/aboutus/" style="font-size:17px;">About Us</a></li>
    <li><a href="/logout/" style="font-size:17px;">Logout</a></li>
  </ul>
<ul class="side-nav" id="mobile-demo">
    <li><a href="/home/" style="font-size:17px;">Home</a></li>
  <li><a class="dropdown-button tt" href="#!" data-activates="dropdown1" style="font-size:17px;">Queries</a></li>
    <li><a href="/profile/{{request.user.username}}" style="font-size:17px;">Profile</a></li>
    <li><a href="/community/" style="font-size:17px;">Community</a></li>
    <li><a href="/mentors/" style="font-size:17px;">Mentors</a></li>
<li><a href="/aboutus/" style="font-size:17px;">About Us</a></li>
    <li><a href="/logout/" style="font-size:17px;">Logout</a></li>
  </ul>
</div>
</nav>
  <div id="textarea">
<div class=" fade-in one">
   <h1 style="font-family: 'Roboto', sans-serif; color:#000;" align="center" >Queries</h1>
  </div>
  <div class=" fade-in two">
   <h5 style="font-family: 'Roboto', sans-serif; color:#000;" align="center" >Got a doubt regarding work related to your organisation or any other organisation? We provide a platform for you to ask them.....</h5>
  <br><br><br>
<div class="row">
    <div class="col s1"><img src="{{pu.image.url}}" class="responsive-img" id="id_profilepicture"></div>
    <div class="col s11">
<div class="card-panel white" style="margin-left:-20px; margin-top:0px;">
<div class="row">
    <div id="test1" class="col s12">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% form form=queryform %}{% endform %}
	  <button class="btn waves-effect waves-light" type="submit" name="action" style="background-color:#0d47a1;">Ask
  </button>
</form>
  </div>
</div></div></div><br></div>
<br>
<div class="row">
  {%for query in queries%}
  <div id = query{{query.id}}>
    <div class="col s1"><img src="{{query.user.image.url}}" class="responsive-img" id="id_profilepicture"></div>
<div class="col s11"><div class="card-panel white" style="margin-left:-20px; margin-top:0px;">
{%if request.user == query.user.user %}  <a href="/editquery/{{query.id}}"><img src="/media/edit.png" class="responsive-img" align="right"></a>{%endif%}
  <div id="id_name"><span style="font-weight:bold; font-size:18px;"><a href="#" style="color:#000000;">{{query.user.orgname}}</a> </span> posted</div> <br>
	<div id="id_body" style="height:auto;">{{query.body}}</div>
        <br><div class="divider"></div>
	<div id="id_answer"><br>
<div class="row">
	<div class="col s1"><img src="{{pu.image.url}}" class="responsive-img" id="id_profilepicture"></div>
	<div class="col s9">
	<div class = "row">
	<input id = "body{{query.id}}" type="text" class="validate" placeholder="Answer">
<button  id ="{{query.id}}" class="btn waves-effect waves-light"  onclick="createtask(this)" name="action" style="background-color:#0d47a1;">Answer
  </button>	</div>
  <div id = answers{{query.id}}>

{% if query.get_answers %}
	<ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">comment</i>Show all answers</div>

    {%for answer in query.get_answers %}
    <div class="collapsible-body">
    <p>
    <a href="#" style="color:#000000;"><b>{{answer.user.orgname}}</b></a>
    <br>
<span style="font-family: 'Droid Sans', sans-serif;">{{answer.body}}</span>
    </div>
  </p>
    {%endfor%}
</li>
</ul>
  {% endif %}
  </div>
  </div>
	</div></div>
	</div>
<br>
</div>
{% endfor %}
</div>
</div>
</div>
</div>
</body>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src={% static "js/materialize.min.js" %}></script>
  <script type="text/javascript">
  </script>
  <script>
    $(".button-collapse").sideNav();
	</script>
  <script>
$(document).ready(function(){
    $('ul.tabs').tabs();
  });
	</script>
<script type = "text/javascript">
function createtask(e){
	var id = e.id.toString();
	var str = '#body' + id;
	var str2 = "#query" + id;
	$.ajax({
		type: "POST",
		url: "/answer/",
		dataType: "json",
		async: true,
		data: {
			csrfmiddlewaretoken: '{{csrf_token}}',
			query_id: id,
			body:$(str).val() ,

		},
		success: function(json){
			$('#output').html(json.message);
			window.location.reload(true);
		}
	});
}
</script>
<script>
   $('.dropdown-button').dropdown({
      inDuration: 300,
      outDuration: 225,
      constrain_width: true,
      hover: true,
      gutter: 0,
      belowOrigin: true,
      alignment: 'left'
    }
  );
</script>
</html>
